#submit-scenario-button {
    margin-right: 20px;
    width: 180px;
    height: 40px;
    align-self: flex-end;
}

#setup {
    margin: 10px;
    width: 60%;
    margin-left: 20%;
}

.form-card {
    margin: 10px;
}