<div fxLayout="row" fxLayoutAlign="center center" class="login-card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Log In</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <p>Welcome to the ViaTech ROI Calculator.</p>
                <p>Please use your email credentials to log in.</p>
                <button mat-raised-button routerLink="/setup" color="primary">Continue</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>