/* For use in src/lib/core/theming/_palette.scss */
$vt-primary: (
    50 : #e1ebf3,
    100 : #b4cce2,
    200 : #82aacf,
    300 : #4f88bc,
    400 : #2a6fad,
    500 : #04559f,
    600 : #034e97,
    700 : #03448d,
    800 : #023b83,
    900 : #012a72,
    A100 : #a1bbff,
    A200 : #6e97ff,
    A400 : #3b72ff,
    A700 : #2160ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$vt-accent: (
    50 : #fef4e4,
    100 : #fee3bb,
    200 : #fdd18d,
    300 : #fcbe5f,
    400 : #fbb03d,
    500 : #faa21b,
    600 : #f99a18,
    700 : #f99014,
    800 : #f88610,
    900 : #f67508,
    A100 : #ffffff,
    A200 : #fff3eb,
    A400 : #ffd5b8,
    A700 : #ffc69f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$vt-warn: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


